<!DOCTYPE html>
<html>
  <head>
    <title>Allmyrecipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/jose-maria-canuto-b-gaston-904411115/"><img src="/assets/linkedin.png" alt="LinkedIn Link"/></a>
        </li>
        <li>
          <a href="https://github.com/jmcbgaston"><img src="/assets/github.svg" alt="GitHub Link"/></a>
        </li>
      </ul>
    </footer>
  </body>

</html>
